@model IEnumerable<assignment2WebApp.Models.Product>




<h1>@ViewBag.Title</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <p>
        Categories: 
        
        @Html.DropDownList("category", (IEnumerable<SelectListItem>)ViewBag.Category, "All Categories", new { onchange = "submit()" })
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
           
            <th>
                Price
            </th>
            <th>
                In Stock
            </th>
            <th>
                Value
            </th>
          
            <th>
               Supplier
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
           
            <td>
                $@Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
           
            <td>
                  $@(item.UnitPrice * item.UnitsInStock)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
